server:
  port: 8081

spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/vueblog2?useUnicode=true&characterEncoding=UTF-8
    username: root
    password: 123456

mybatis:
  config-location: classpath:/mybatis-config.xml

logging:
  level:
    org:
      springframework:
        security: info
